:root {
  --color-primary: #59E4A7;
  --color-navbar: #2C7067;
  --color-text: #fbfbfd;
  --color-text-focus: #1B2D35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Helps with responsive design */
}

.logo {
  width: 75px;
  height: 75px;
  position: relative;
  top: -5px;
  left: -10px;
}

.navbar {
  width: 100%;
  background-color: var(--color-navbar);
}

.nav-wrapper {
  width: 100%;
}

.brand-logo {
  margin-left: 1rem;
  font-weight: 600;
}

.brand-name {
  position: relative;
  top: -30px;
}

#nav-mobile {
  color: var(--color-primary);
}

.credits {
  margin: 0 1rem;
  color: #fbfbfd;
}

.login-button {
  max-width: 250px;
  font-family: var(--font-primary);
  font-size: .875rem;
  font-weight: 500;
  color: var(--color-background);
  background-color: var(--button-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  line-height: 1.5;
  margin: 12px;
}

.login-button:hover {
  background-color: var(--button-color-focus);
  color: #1B2D35;
}

.beta {
  vertical-align: super;
  font-size: 1rem;
}

@media (max-width: 425px) {
  .login-button {
    display: none;
  }

  .brand-logo {
    display: grid;
    place-items: center;
  }
}